<h1>Listing bolsista</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Turno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bolsista.each do |bolsistum| %>
  <tr>
    <td><%= bolsistum.nome %></td>
    <td><%= bolsistum.turno %></td>
    <td><%= link_to 'Show', bolsistum %></td>
    <td><%= link_to 'Edit', edit_bolsistum_path(bolsistum) %></td>
    <td><%= link_to 'Destroy', bolsistum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bolsistum', new_bolsistum_path %>
