<h1>Listing gerenciadors</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Senha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gerenciadors.each do |gerenciador| %>
  <tr>
    <td><%= gerenciador.login %></td>
    <td><%= gerenciador.senha %></td>
    <td><%= link_to 'Show', gerenciador %></td>
    <td><%= link_to 'Edit', edit_gerenciador_path(gerenciador) %></td>
    <td><%= link_to 'Destroy', gerenciador, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gerenciador', new_gerenciador_path %>
