<%= form_for(@materiai) do |f| %>
  <% if @materiai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materiai.errors.count, "error") %> prohibited this materiai from being saved:</h2>

      <ul>
      <% @materiai.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disciplina %><br />
    <%= f.text_field :disciplina %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :dtentrada %><br />
    <%= f.date_select :dtentrada %>
  </div>
  <div class="field">
    <%= f.label :dtsaida %><br />
    <%= f.date_select :dtsaida %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
