<h1>Listing materiais</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Bolsista</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materiais.each do |materiai| %>
  <tr>
    <td><%= materiai.nome %></td>
    <td><%= link_to 'Show', materiai %></td>
    <td><%= link_to 'Edit', edit_materiai_path(materiai) %></td>
    <td><%= link_to 'Destroy', materiai, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Materiai', new_materiai_path %>
