<h1>Listing tipomaterials</h1>

<table>
  <tr>
    <th>nome</th>
    <th>tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipomaterials.each do |tipomaterial| %>
  <tr>
    <td><%= tipomaterial.nome %></td>
    <td><%= tipomaterial.tipo %></td>
    <td><%= link_to 'Show', tipomaterial %></td>
    <td><%= link_to 'Edit', edit_tipomaterial_path(tipomaterial) %></td>
    <td><%= link_to 'Destroy', tipomaterial, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipomaterial', new_tipomaterial_path %>
